html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size:16px;
    font-family: urbanist;
}
header h1{
    text-align:center;
    background-color: #2286EA;
    margin:0px;
    padding:10px;
    font-size:48.83px;
}

section{
    height:100%;
    display:flex;
    flex-direction:column;
    padding: 10px;
    background-color: #A1D0FF;

}
.form-div{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-basis:20%;
}
.form-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:200px;
}

.form-container label{
    /* font-size:20.00 px; */
}
.form-container input{
    border-radius: 5px;
}
.form-container input::placeholder{
    font-size:12.80px
}
button{
    width:100px;
    border-radius: 5px;
    background-color: #2286EA;
    font-family: urbanist;

}

.expenses-container{
    flex-basis:90%;
    align-self:center;
}
.expenses-container h2{
    text-align:center;
    font-size:31.25px;
}
.expenses-subcontainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
    overflow-y: auto;
    max-height: 400px;
}
.expenses-subcontainer::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgb(34, 134, 234);
	background-color: #CCCCCC;
}
.expenses-subcontainer::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.expenses-subcontainer::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgb(34, 134, 234) 0%,
											  rgb(34, 134, 234) 25%,
											  transparent 100%,
											  rgb(34, 134, 234) 75%,
											  transparent)
}
#expenses-table{
    border: 1px solid black;
    border-radius:5px;
    border-collapse: collapse;
    width:500px;
}
.btn-remove{
    background-color: rgb(235, 200, 141);
}
.expenses-row-title{
    border-bottom: 3px solid black;
    background-color: rgb(34, 134, 234);
}
.expenses-row-title th{
    padding:10px;
    font-size:20.00px;
}
.expenses-row{
    border-bottom:2PX dotted black;
}
.expenses-row td{
    padding:10px;
    text-align:center;
}

#total-expenses{
    background-color: #EBC88D;
}
#total-expenses span{
    color:#4574A3;
    font-weight:bold;
}

footer{
    text-align:center;
    background-color: #A1D0FF;

}



