html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size:16px;
}
header h1{
    text-align:center;
    background-color: #2286EA;
    margin:0px;
    padding:10px;
    font-size:48.83px;
}

section{
    height:100%;
    display:flex;
    flex-direction:column;
    padding: 10px;
    background-color: #4574A3;

}
.form-div{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-basis:20%;
}
.form-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:200px;
}

.form-container label{
    font-size:20.00 px;
}
.form-container input{
    border-radius: 5px;
}
.form-container input::placeholder{
    font-size:10px
}
button{
    width:100px;
    border-radius: 5px;
    background-color: #A1D0FF;
}

.expenses-container{
    flex-basis:90%;
    align-self:center;
}
.expenses-container h2{
    text-align:center;
    font-size:39.06px;
}
.expenses-subcontainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#expenses-table{
    border: 1px solid black;
    border-radius:5px;
    background-color: #EBC88D;
    border-collapse: collapse;

}

.expenses-row-title{
    border-bottom: 3px solid black;
    background-color: #2286EA;
}
.expenses-row-title th{
    padding:10px;
    font-size:20.00px;
}
.expenses-row{
    border-bottom:2PX dotted black;
}
.expenses-row td{
    padding:10px;
    text-align:right;
}

